{% import 'widgets.jinja2' as w %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document | {{ title }} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  {% block css %}{% endblock css %}
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <header>
    <ul>
      {% if current_user.is_authenticated %}
        <a href="{{ '/auth/signout' }}">sign out</a>
      {% else %}
        <a href="{{ '/auth/signin' }}">sign in</a>
        <a href="{{ '/auth/signup' }}">sign up</a>
      {% endif %}
      <a href="{{ '/tarefas' }}">tarefas</a>
    </ul>
  </header>
  
  {% if current_user.is_authenticated %}
    <div class="logged-in">Logged in as {{ current_user }}</div>
  {% endif %}
  {% block body %}{% endblock body %}
</body>
{% block js %}{% endblock js %}
</html>
